config firewall service custom
{% for s in service_objects %}
    edit "{{ s.name }}"
{% if s.protocol == 'ICMP' %}
        set protocol ICMP
{% elif s.protocol == 'IP' %}
        set protocol IP
{% else %}
        set protocol TCP/UDP/SCTP
{% if s.tcp_portrange %}
        set tcp-portrange {{ s.tcp_portrange | val }}
{% endif %}
{% if s.udp_portrange %}
        set udp-portrange {{ s.udp_portrange | val }}
{% endif %}
{% endif %}
{% if s.comment %}
        set comment "{{ s.comment }}"
{% endif %}
    next
{% endfor %}
end
